:root {
  --page-width: 1600px;
  --page-height: 1200px;
  --page-padding-w: 20px;
  --page-padding-h: 20px;
  --header-height: 30px;

  --main-column-count: 4;
  --main-gap-column: 30px;
  --main-gap-row: 30px;

  --main-content-width: calc((var(--page-width) - (var(--main-gap-column) * (var(--main-column-count) - 1)) - (var(--page-padding-w) * 2)) / var(--main-column-count));

  /* , '源柔ゴシック','M PLUS Rounded 1c';'Noto Sans JP', 'heisei-maru-gothic-std'*/
  --font-family-main: '源柔ゴシック', 'heisei-maru-gothic-std';
  --font-family-header: 'Noto Sans JP', '源柔ゴシック';
  --font-size-main: 15px;
  --font-size-tableheader: 17px;
  --font-size-key: 14px;
  --font-size-memo: 12px;
  --font-size-mark: 12px;
  --color-both: #eee;

  --color-object: #d9fcf7;
  --color-edit: #fff5d5;

  /* --color-main: #0e5f4e; */
  /* --color-main: #007c61; */
  /* --color-main: #14634b; */
  --color-main: #555;
  --color-th: #fff;
  /* --color-th-bg: #73A9AD; */
  /* --color-th-bg: #318f96; */
  /* --color-th-bg: #63acb1; */
  --color-th-bg: #888;
  --color-memo: #9b8e16;

  --svg-blender: url('data:image/svg+xml;utf-8,<svg fill="%23aaa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M533.76 563.797c1.963-34.133 18.688-64.256 43.947-85.589 25.114-20.975 57.742-33.71 93.344-33.71 0.364 0 0.727 0.001 1.090 0.004h-0.056c36.267 0 69.589 12.8 94.336 33.707 25.259 21.333 41.941 51.456 43.861 85.547 1.92 35.115-12.16 67.669-36.907 91.861-25.909 24.777-61.108 40.028-99.868 40.028-0.5 0-0.999-0.003-1.498-0.008l0.076 0.001c-0.428 0.005-0.933 0.007-1.439 0.007-38.783 0-74.003-15.25-99.992-40.081l0.055 0.052c-24.747-24.192-38.827-56.747-36.907-91.819zM313.6 632.789c0.256 13.397 4.523 39.339 10.923 59.648 14.706 45.68 37.989 84.991 68.175 117.861l-0.207-0.229c32.635 35.789 72.215 64.627 116.683 84.487l2.229 0.889c45.317 20.492 98.254 32.433 153.98 32.433 0.766 0 1.532-0.002 2.298-0.007l-0.118 0.001c0.224 0 0.489 0.001 0.754 0.001 56.219 0 109.604-12.13 157.683-33.914l-2.404 0.975c46.654-20.938 86.194-49.889 118.57-85.474l0.256-0.286c29.922-32.735 53.184-72.108 67.296-115.603l0.629-2.242c8.666-26.625 13.663-57.262 13.663-89.066 0-14.849-1.089-29.444-3.192-43.709l0.196 1.617c-6.494-44.613-21.78-84.658-44.084-119.81l0.735 1.24c-21.491-34.097-47.756-62.956-78.263-86.604l-0.756-0.564h0.085l-320.768-246.272c-20.992-16.128-56.277-16.043-79.36 0.085-23.339 16.299-25.984 43.307-5.248 60.373l-0.043 0.043 133.376 108.501-407.168 0.427c-33.621 0.043-65.92 22.101-72.32 50.005-6.571 28.373 16.213 51.925 51.2 52.053v0.085l206.080-0.427-369.237 283.392c-34.688 26.539-45.867 70.741-24.021 98.688 22.187 28.459 69.333 28.501 104.405 0.171l200.704-164.224c0 0-2.944 22.187-2.731 35.456zM829.44 707.072c-41.387 42.155-99.243 66.048-161.92 66.133-62.72 0.171-120.619-23.552-162.005-65.621-19.025-19.098-34.067-42.178-43.764-67.88l-0.439-1.325c-6.817-18.383-10.761-39.619-10.761-61.776 0-32.43 8.45-62.887 23.267-89.288l-0.475 0.92c12.931-22.977 29.367-42.379 48.826-58.206l0.368-0.29c40.192-32.768 91.349-50.475 144.896-50.56 53.589-0.085 104.747 17.493 144.981 50.133 20.48 16.683 37.12 36.437 49.152 58.325 11.888 21.009 19.852 45.741 22.221 72.085l0.051 0.704c0.426 4.657 0.67 10.072 0.67 15.544 0 22.148-3.984 43.366-11.274 62.975l0.407-1.25c-10.141 27.077-25.167 50.21-44.174 69.39l0.014-0.014z"/></svg>');
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  word-break: keep-all;
  overflow-wrap: break-word;
}
html {
  font-size: var(--font-size-main);
}
::before, ::after {
  font-family: 'Font Awesome 6 Free';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  mask-repeat: no-repeat;
  mask-position: center bottom;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center bottom;
}
body {
  font-family: var(--font-family-main);
  font-weight: 600;
  font-feature-settings: 'palt';
  /* letter-spacing: -0.5px; */
  /* M+1 Rounded 1c用 */
  /* transform:rotate(0.03deg); */
  color: var(--color-main);
  background-color: #fff;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 20px;
  width: var(--page-width);
  /* height: var(--page-height); */
  padding: var(--page-padding-h) var(--page-padding-w);
  outline: green 1px solid;
}
h1, h2, h3, h4, h5, h6, p, .ex {
  /* font-family: var(--font-header); */
  margin-block-start: 0;
  margin-block-end: 0;
}
/* *************************************
/* header
/* *************************************/
header {
  width: 100%;
  height: var(--header-height);
  /* outline: blue 1px solid; */
}
h1 {
  font-family: var(--font-family-header);
  font-size: 25px;
  font-weight: 900;
}
h1::before {
  content: '';
  background: var(--color-main);
  -webkit-mask-image: var(--svg-blender);
  mask-image: var(--svg-blender);
}
/* *************************************
/* main
/* *************************************/
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  gap: var(--main-gap-row) var(--main-gap-column);
  /* outline: green 1px solid; */
  /* h2というカウンターを設定、0で初期化 */
  outline: 1px red solid;
}
#one {
  max-height: 526px;
  /* outline: green 1px solid; */
  /* h2というカウンターを設定、0で初期化 */
  counter-reset: h2;
  outline: 1px red solid;
}
#two {
  max-height: 500px;
  /* outline: green 1px solid; */
  outline: 1px red solid;
}
img {
  display: block;
  /* margin: auto; */
}
section {
  width: calc((var(--page-width) - (var(--main-gap-column) * (var(--main-column-count) - 1)) - (var(--page-padding-w) * 2)) / var(--main-column-count));
  display: grid;
  gap: 1em;
  letter-spacing: -0.5px;
}
h2 {
  font-size: var(--font-size-tableheader);
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  color: #fff;
  background: #666;
  border-radius: 20px;
  letter-spacing: 0;
  /* padding: 8px 0 1px 15px; */
  /* border-radius: 10px 10px 0 0; */
}
h2::before {
  /* h2カウンターに++1 */
  counter-increment: h2;
  /* h2カウンターをupper-alphaで表示 */
  content: counter(h2, upper-alpha);
  display: inline-block;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  color: #666;
  background: #FFF057;
  padding: 2px 5px 6px 5px;
  margin-right: 10px;
  border-radius: 20px;
  border: 3px solid #666;
}
h3 {
  font-size: 1.1em;
  font-weight: 600;
  color: #444;
}
h4, h5 {
  font-weight: 800;
}
p {
  font-weight: 500;
  line-height: 1.5;
}
.ex {
  font-weight: 500;
  font-size: 0.9em;
  color: #c96125;
}
th, td {

  font-size: 0.9em;
  text-align: left;
  border-bottom: 2px dotted #ddd;
  padding: 2px 1.5em 2px 0;
}
th {
  width: 1px;
  white-space: nowrap;
  font-weight: 700;
}
td {
  font-weight: 500;
}
